*{
    margin: 0;
    padding: 0;
    

}
body{
    font-family: 'Mulish', sans-serif;

}
header{
    margin: 0 auto;
    max-width: 1250px; 
    /* padding: 10px;
    margin: 0 auto;
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center; */

}
.hamburger-menu{
    display: none;
}
nav{
    display: flex;
    align-items: center;  
      gap: 15px; /* Add gap between items */

}
nav a{
    text-decoration: none;
    color: black;
}

.nav-container img{
    width: 50px;
}
.nav-container{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 26px;
    width: 50%;
}
.item-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.special{
    color: #FF5400;
}


.main-part1{
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px auto;
    width: 1320px;
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
     display: flex;
     border-radius: 16px;

}
.exp{
    color: #FFF;
font-size: 64px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.p1{
    color: #FFF;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    padding: 5px;
    gap: 5px;
    width: 50%;
    margin: 30px auto;
    /* display: inline-flex; */
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
     /* background-color: #FFF; */
    border-radius: 8px;
    
    }

    .form input,
    .form select {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }    
.sad{display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: transparent;

}

.btn{
    color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: normal;
border-radius: 8px;
background: #FF5400;
border: none;
height: 50px;
}
.imgg{
    margin: 0 auto;
    max-width: 1250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    column-gap: 10px;
}
.img-part{

    width: 50%;
flex-shrink: 0;

}
.text-part{
    width: 50%;
    text-align: left;
}
.a{
    color: #131318;
text-align: center;
font-size: 40px;
font-weight: 800;

}
.b{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}

footer{
    width: 100%;
    height: 502px;
    flex-shrink: 0;
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
}
.ok hr{
    height: 1px; 
        background-color: #000; 
        margin: 20px 0;

}
.imp{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.vdo-part{
    margin: 30px auto;
    max-width: 1250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-sec hr{
    
        height: 1px; 
        background-color: #000; 
        margin: 10px 0; 
      
  
}
.textt{
    width: 50%;

}
.vdo{
    /* width: 50%; */
    width: 610px;
    height: cover;
    flex-shrink: 0;
    border-radius: 16px;
background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%);
}
.t1{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px; /* 150% */
}
.t2{
    width: 532px;
    color: #5A5A5D;
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.vdo-btn{
    margin-top: 10px;
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    border: none;
    color: #FFF;
text-align: center;
font-size: 10px;
font-weight: 800;
line-height: normal;
    flex-shrink: 0;
}
.t3{
    color: #131318;
    width: 518px;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px; /* 162.5% */
}
.form-sec{
    margin: 100px auto;
    max-width: 1250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    width: 50%;
    text-align: left;
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background-color: #FFF;
    border: 0;
    width: 100%;

}
.img-sec{
    /* width: 60%; */
    width: 50%;
height: 322px;
flex-shrink: 0;
position: relative;
}
/* .contact input[type="text"] , .contact input[type="email"] {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background-color: #FFF;
    border: 0;
    
} */
.contact{
    margin-top: 10px;
    height: 100px;
}
.extra{
    width: 120px;
    height: 50px;
    background-color: #FF5400;
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #FFF;
    position: absolute;
    top: 90%;
    left: 89%;
    transform: rotate(-45deg);
    border-radius: 5px;
    
}

.deals{
    max-width: 1250px;
    margin: 0 auto;
}
.all{
    max-width: 1250px;
    margin: 0 auto;
    text-align: center;

}
.done{
    max-width: 1250px;
    margin: 0 auto;
    text-align: center;
    
}

.two-cards{
    margin: 20px auto;
    max-width: 1250px;
    display: flex;
    justify-content: center;
    text-align: left;
    gap: 15px;
}
.no-1{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 45%;
    height: 284px;
    text-align: center;
}
.no-2{
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
width: 45%;
height: 284px;
text-align: center;
}
.no-3{
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
height: 284px;
width: 50%;
/* display: flex;
    align-items: center; */
    margin: 10px auto;

}

.deals-img{
    position: relative;
}
    
.img-text{
    position: absolute;
    top: 50%;
    width: 579px;
height: 140px;
flex-shrink: 0;
border-radius: 16px;
border: 2px orangered;

background: rgba(255, 255, 255, 0.80);
backdrop-filter: blur(2.5px);
text-align: center;
padding: 50px;
margin-bottom: 50px;
}
.di{
    border: 2px solid #FFF;
}
#emni{
    margin-left: 30%;
    margin-bottom: 25%;
}
